<!-- views/partials/catalogGrid.ejs  -->
<div class="col-sm-4" align="left">
	<li class="list-group-item">
		<u>Flower Name</u>: <%= name %> </br>
		<u>Fower Color</u>: <%= color %> </br>
		<u>Flower Picture</u>: <img src=<%= image%> style="max-width: 100%; max-height: 100%;"/> </br>
		<u>Flower Price</u>: <%= price %> </br>
	</li> </br>
</div>