<!-- views/partials/about.ejs -->
<div class="row">
	<div class="col-sm-8">
		<div class="jumbotron text-center">
			<h2><strong>{{ message }}</strong></h2>
			<p>The Yonatan and Prager flower company was founded in 2017 by Yonatan Shor and Adir Prager who had a shared love for flower selling.
			</br> Our vision is to help anyone find any flower for any occasion.
			</br> We hope you will find what you are looking for in our humble website. Enjoy!
			</p>
		</div>
	</div>
	<div class="col-sm-4" align="center">
		<div class="well">
			<h3 align="center">Flower Shop</h3>
			<img src="http://free-web-tools.com/wp-content/uploads/2015/08/free-logo-flower.png" style="max-width: 100%; max-height: 100%;"/>
			<h5>Opened by Yonatan Shor & Adir Prager</h5>
		</div>
	</div>
</div>