systemLog:
  destination: file
  path: C:\Users\adirp\Desktop\Comp_Eng\exercise_5\mongodb\log\mongod.log
  logAppend: true
processManagement:
  windowsService:
    description: "MongoDb Server 3.4, localhost access only, port:27017"
net:
  port: 27017
  bindIp: 127.0.0.1
storage:
  dbPath: C:\Users\adirp\Desktop\Comp_Eng\exercise_5\mongodb\data
  journal:
    enabled: true
